name: CI-software-quality-checks
run-name: Checking code quality for${{ github.actor }}
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
jobs:
  terraform-quality-checks:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout lower branch
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Set up python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install Terragrunt and OpenTofu
        uses: gruntwork-io/terragrunt-action@v3
        with:
          tg_version: '0.82.2'
          tofu_version: '1.10.1'

          # please view:
      # https://www.checkov.io/8.Outputs/SARIF.html
      # https://docs.github.com/en/code-security/how-tos/scan-code-for-vulnerabilities/integrate-with-existing-tools/uploading-a-sarif-file-to-github#uploading-a-code-scanning-analysis-with-github-actions
      - name: start quality checks
        shell: bash
        run: |
          echo "$PWD"
          
          echo "Starting Terraform code quality checks"

          terragrunt init

          terragrunt run --all --filter-affected -- plan  -out=/tmp/tfplan

          terragrunt run -- show -json /tmp/tfplan > /tmp/tfplan.json

          checkov -f /tmp/tfplan.json --output sarif --output-file-path /tmp/
