name: CI-software-quality-checks
run-name: Checking code quality for${{ github.actor }}
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
    secrets:
      cloud_token:
        required: true
env:
  higher_branch: ${{ inputs.branch == 'develop' && 'main' }}  
jobs:
  terraform-quality-checks:
    permissions:
      contents: read 
      security-events: write 
      actions: read 
    runs-on: ubuntu-24.04
    steps:   
      - name: checkout lower branch
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
      
      - name: Fetch base branch
        run: git fetch origin ${{ env.higher_branch }}:${{ env.higher_branch }}
      
      - uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: '${{ secrets.cloud_token }}'

      - name: Set up python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      
      - name: set up terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.5"

      - name: Install Terragrunt and OpenTofu
        uses: gruntwork-io/terragrunt-action@v3
        with:
          tg_version: '0.99.1'
          tf_path: "terraform"
      
      - name: install checkov
        run: pip install checkov

          # please view:
      # https://www.checkov.io/8.Outputs/SARIF.html
      # https://docs.github.com/en/code-security/how-tos/scan-code-for-vulnerabilities/integrate-with-existing-tools/uploading-a-sarif-file-to-github#uploading-a-code-scanning-analysis-with-github-actions
      # run all allows for terragrunt to check repo root
      - name: start plans for terragrunt
        shell: bash
        run: |
          echo "$PWD"

          echo "Starting Terraform code quality checks"

          terragrunt run --all init

          terragrunt run --all --filter-affected -- plan  -out=/tmp/tfplan

          terragrunt run --all -- show -json /tmp/tfplan > /tmp/tfplan.json
      
      # - name: run checkov against plan results
      #   id: quality-check
      #   # do -sf  for a soft fail  https://www.checkov.io/2.Basics/Hard%20and%20soft%20fail.html
      #   # soft fail provides a exit code of 0 on faliure
      #   run: checkov -f /tmp/tfplan.json --output sarif --output-file-path /tmp/
      #   continue-on-error: true
      
      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@master
        with:
          file: /tmp/tfplan.json
          output_format: cli,sarif
          output_file_path: console,/tmp/results_sarif.sarif
        continue-on-error: true
      
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
      
      - name: show sarif file
      # results_sarif.sarif is the default sarif file name generated
        run: cat /tmp/results_sarif.sarif
      
