name: CI-software-quality-checks
run-name: Checking code quality for${{ github.actor }}
on: [pull_request]
jobs: 
  terraform-quality-checks:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Starting Terraform code quality checks"
  
